* {
  box-sizing: border-box;
}

.register-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.register-box {
  width: 350px;
  padding: 20px;
  background: #fff;
}

.register-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
}


.register-btn {
  width: 100%;
  padding: 10px;
}


.error-text {
  color: red;
  font-size: 12px;
}