.product-page {
    padding: 20px;
}

.product-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 6px 15px;
    margin: 0 5px;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 350px;
    background: white;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.error-text {
  color: red;
  font-size: 12px;
}